.layout {
  display: flex;
}

.sideNav {
  width: 250px;       /* match sidebar width */
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}

.content {
  margin-left: 250px; /* space for sidebar */
  padding: 20px;
  width: calc(100% - 250px);
}
